{% extends 'dashboards/dashboard_panolero.html' %}

{% block content %}
<div class="container">
    <h2>Lista de Usuarios</h2>
    <a href="{% url 'crear_usuario_panolero' %}" class="btn btn-primary">Crear Usuario</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>RUT</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Tipo de Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.first_name }}</td>
                <td>{{ usuario.last_name }}</td>
                <td>{{ usuario.rut }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.telefono }}</td>
                <td>{{ usuario.user_type }}</td>
                <td>
                    <a href="{% url 'editar_usuario_panolero' usuario.pk %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'eliminar_usuario_panolero' usuario.pk %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No hay usuarios registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}