<!-- herramientas_rotas.html -->
{% extends 'dashboards/dashboard_admin.html' %}

{% block content %}
<div class="container">
 <h2>Herramientas Rojas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Imagen</th>
                <th>Reportado por</th>
            </tr>
        </thead>
        <tbody>
            {% for herramienta in herramientas %}
            <tr>
                <td>{{ herramienta.nombre }}</td>
                <td>{{ herramienta.descripcion }}</td>
                <td>
                    <img src="{{ herramienta.imagen.url }}" alt="{{ herramienta.nombre }}" width="100">
                </td>
                <td>{{ herramienta.reportado_por.first_name }} {{ herramienta.reportado_por.last_name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay herramientas rotas reportadas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}